@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

</body>
</html>
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">

    <link rel="website" href="PROJ1.html">

    <title>home </title>
</head>
<body>

    <style>
        body {
            background-color: #f5fffa;
        }
    </style>



    <section id="feature" class="section-p1">
        <header id="header">
            <a href="home.html">
                <img src="logo.jpeg" class="logo" alt="Brand Logo">
            </a>
        </header>

        <div class="fe-box">
            <li><a href="efout.html"> <img src="gp.jpg" width="200px" height="200px" alt=""></a></li>

            <h6> EFFORTLESS OUTFIT </h6>
        </div>

        <div class="fe-box">
            <img src="front.jpg" width="200px" height="200px" alt="">

            <h6>PlUS SPORTING</h6>
        </div>


        <div class="fe-box">
            <img src="extraflash.jpg" width="200px" height="200px" alt="">

            <h6>EXTRA FLASH</h6>
        </div>

        <div class="fe-box">


            <a href="https://littlemuffet.in/products/pre-order-multicolour-printed-lace-detailing-top-and-flared-lehenga" target="_blank">
                <img src="cosy.jpg" width="200px" height="200px" alt="Cosy Wear">
            </a>






            <h6> COSY</h6>
        </div>

        <div class="fe-box">
            <img src="kids.jpg" width="200px" height="200px" alt="">

            <h6>KidZZ</h6>
        </div>
        <div class="fe-box">

            <a href="https://www.cbazaar.com/product/green-silk-zari-embroidered-sequins-stylish-lehenga-p-ghscbep7055">
                <img src="shoe.jpg" width="200px" height="200px" alt=" wedding wear">
            </a>

            <h6>Top Branded </h6>
        </div>
    </section>

    <div class="fe-box">

        <img src="2girls.jpg" alt="">

        <style>

            img {
                width: 100%;
            }
        </style>



    </div>


</body>
</html>
